@import url('../main.css');


/****** Bao Cao Thuong *****************/

.report-menu-left{
	width: 18%;
	float: left;
	color: #000;
	overflow: hidden;
}
.report-menu-left h2{
	color: #000;
	font-size: 20px;
	font-weight: 400;
	padding-left: 20%;
}
.report-menu-left h2:first-child{
	margin-top: 20px;
}
.report-menu-left h2.on{
	color: #2baef1;
	padding-left: 18%;
	border-left: 5px solid #2baef1;
}
.report-menu-left ul{
	margin-left: 20%;
	margin-top: 15px;
}
.report-menu-left ul li{
	width: 80%;
	/*height: 50px;
	line-height: 50px;*/
	padding-left: 15px;
}
.report-menu-left ul li:hover,
.report-menu-left ul li.on{
	background: #FFF;
}
.report-menu-left hr{
	width: 80%;
	margin: 10%;
	border-top: 1px solid #b8b8b8;
	border-bottom: 1px solid #FFF;
}
.report-menu-left ul li a{
	font-size: 16px;
	padding: 15px 0px 15px 0px;
	display: block;
}

.report-content-right{
	width: 82%;
	padding-top: 40px;
	float: left;
	overflow:hidden;
	background: #FFF;
}
.report-content-right h2{
	font-size: 18px;
	font-weight: 400;
}
.report-content-right ul.report-nav{
	width: 780px;
	height: 130px;
	padding-top: 50px;
	padding-left: 30px;
	margin:0px auto;
}
.report-nav-date{
	width: 780px;
	height: 80px;
	margin-top: 40px;
	margin:0px auto;
	background:#e1e3e4;
	border:1px solid #d8d8d8;
	border-radius: 3px;
}
.report-content-right ul.report-nav li{
	min-width: 110px;
	height: 90px;
	float: left;
	margin-right: 40px;
	text-align: center;
}
.report-content-right ul.report-nav li span{
	width: 54px;
	height: 54px;
	display: block;
	background: url('images/list-icon-report.png');
	margin: 0px auto;
}

.report-content-right ul li:nth-child(1) span{
	background-position: -0px 0px;
}
.report-content-right ul li:nth-child(2) span{
	background-position: -144px 0px;
}
.report-content-right ul li:nth-child(3) span{
	background-position: -298px 0px;
}
.report-content-right ul li:nth-child(4) span{
	background-position: -452px 0px;
}
.report-content-right ul li:nth-child(5) span{
	background-position: -612px 0px;
}

.report-content-right ul li:nth-child(1).on span{
	background-position: -0px 68px;
}
.report-content-right ul li:nth-child(2).on span{
	background-position: -144px 68px;
}
.report-content-right ul li:nth-child(3).on span{
	background-position: -298px 68px;
}
.report-content-right ul li:nth-child(4).on span{
	background-position: -452px 68px;
}
.report-content-right ul li:nth-child(5).on span{
	background-position: -612px 68px;
}
ul.report-nav li a{
	padding: 10px 12px;
	border:1px solid #cdcdcd;
	border-radius: 3px;
}
ul.report-nav li.on a,
ul.report-nav li a:hover{
	background: #2baef1;
	border:1px solid #2baef1;
	color: #FFF;
}
.report-by-select{
	height: 50px;
	width: 940px;
	margin:35px auto;
}

.report-by-select .custom-select-box{
	width: 175px;
	margin-top: 0px;
	float: left;
	margin-left: 15px;
	background: url('images/img-custom-select-smaller.png') !important;
}
.report-by-select .custom-select-box:first-child{
	margin-left: 0px;
}
.report-by-select select{
	width: 175px;
}

.tbl-report-general{
	margin-top: 15px;
	width: 100%;
}
.tbl-report-general thead{
	background: #2baef1;
}
.tbl-report-general thead td{
	padding-top:24px;
	padding-bottom:10px;
	padding-right: 5px;
	padding-left: 5px;
	color:#FFF;
}
.tbl-report-general td{
	border-left:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	text-align: center;
	font-family: Verdana;
	font-size: 13px;
}
.tbl-report-general td:nth-child(3){
	min-width: 110px;
}
.tbl-report-general td:nth-child(7){
	min-width: 150px;
}
.tbl-report-general tbody td{
	height: 48px;
	line-height: 48px;
}
.tbl-report-general tbody td:nth-child(5),
.tbl-report-general tbody td:nth-child(7){
	background:#f2f2f2;
}
.tbl-report-general tbody td:nth-child(11){
	padding-left: 10px;
}
tr.tr-rep-gen-sumary td{
	background: #47484a !important;
	color: #FFF;
}
.rep-save-by-excel{
	width: 100%;
	height: 90px;
	background: -webkit-linear-gradient(#e5e6e7, #fdfdfd);
	background: -moz-linear-gradient(#e5e6e7, #fdfdfd);
	background: -o-linear-gradient(#e5e6e7, #fdfdfd);
	text-align: center;
}
.rep-save-by-excel ul{
	width: 160px;
	margin:0px auto;
}
.rep-save-by-excel ul li{
	margin:0px;	
	line-height: 120px;
}
.rep-save-by-excel ul li:first-child{
	min-width: 30px !important;
}
.rep-save-by-excel ul li a{
	line-height: 82px;
	margin: 0px;
	font-size: 13px;
	padding: 10px;
}
ul.rep-des-bottom{
	width: 80%;
	margin-left: 35px;
	float: left;
}
ul.rep-des-bottom li {
	background: url('images/icon-li-report-stype.png') no-repeat top left;
	margin: 0;
	padding: 0px 0 0px 20px;
	list-style: none;
	margin-top: 20px;
	text-align: left;
}
ul.rep-des-bottom li:first-child{
	margin-top: 0px;
}
ul.rep-des-bottom li span{
	font-size: 16px;
}
.report-img{
	width: 12px;
	height: 12px;
	margin:3px;
	background: url('images/list-icon-mst.png');
}
.report-img-s{
	background-position: -16px 0px;
}
.report-img-t{
	background-position: -32px 0px;
}



/****** Bao Cao Tong Hop *****************/

.tbl-report-main{
		
}
.tbl-report-main tbody td:nth-child(2){
	background: #cdd2d7;
}
.tbl-report-main td:nth-child(3){
	width: 400px;
}
.tbl-report-main a{
	background: #e2e2e2;
	padding: 5px 10px;
	border-radius: 3px;
	border: 1px solid #cdcdcd;	
	width: 100%;
	float: none;
}
.rep-des-main-report p{
	font-size: 16px;
	width: 80%;
	height: 150px;
	margin: 0px auto;
	padding: 50px 0px 100px 0px;
	overflow: hidden;
}

/**
 * Hoa hong
 **/
.rp-rose-nav-parent{
	width:97%;
	height: auto;
	overflow: hidden;
	margin:0px auto;
	margin-top:70px;
	border:1px solid #e1e3e4;
}
.rp-rose-nav{
	min-height: 100px;
	border:3px solid #e1e3e4;
	background: #ebebeb;
}
.rp-rose-request-time{
	width: 30%;
	height: 60px;
	float: right;
	border-left: 1px solid #dedede;
}
.rp-rose-money{

}
.rp-rose-money ul{
	width: 67%;
	height: 100px;
	margin: 1%;
	background: #e0e0e0;
	float: left;
}
.rp-rose-money ul li{
	
}
.rp-rose-request{
	width: 30%;
	height: 225px;
	float: right;
	border-left: 1px solid #dedede;
}




/**
 * Uu dai
 **/