@import url('../main.css');


/****** Bao Cao Thuong *****************/

.report-content-right ul.report-nav{
	width: 780px;
	height: 130px;
	padding-top: 50px;
	padding-left: 30px;
	margin:0px auto;
}
.report-nav-date{
	width: 780px;
	height: 80px;
	margin-top: 40px;
	margin:0px auto;
	background:#e1e3e4;
	border:1px solid #d8d8d8;
	border-radius: 3px;
}
.report-content-right ul.report-nav li{
	min-width: 110px;
	height: 90px;
	float: left;
	margin-right: 40px;
	text-align: center;
}
.report-content-right ul.report-nav li span{
	width: 54px;
	height: 54px;
	display: block;
	background: url('images/list-icon-report.png');
	margin: 0px auto;
}

.report-content-right ul li:nth-child(1) span{
	background-position: -0px 0px;
}
.report-content-right ul li:nth-child(2) span{
	background-position: -144px 0px;
}
.report-content-right ul li:nth-child(3) span{
	background-position: -298px 0px;
}
.report-content-right ul li:nth-child(4) span{
	background-position: -452px 0px;
}
.report-content-right ul li:nth-child(5) span{
	background-position: -612px 0px;
}

.report-content-right ul li:nth-child(1).on span{
	background-position: -0px 68px;
}
.report-content-right ul li:nth-child(2).on span{
	background-position: -144px 68px;
}
.report-content-right ul li:nth-child(3).on span{
	background-position: -298px 68px;
}
.report-content-right ul li:nth-child(4).on span{
	background-position: -452px 68px;
}
.report-content-right ul li:nth-child(5).on span{
	background-position: -612px 68px;
}
ul.report-nav li a{
	padding: 10px 12px;
	border:1px solid #cdcdcd;
	border-radius: 3px;
}
ul.report-nav li.on a,
ul.report-nav li a:hover{
	background: #2baef1;
	border:1px solid #2baef1;
	color: #FFF;
}
.report-by-select{
	height: 50px;
	width: 940px;
	margin:35px auto;
}

.report-by-select .custom-select-box{
	width: 170px;
	height: 42px;
	margin-top: 0px;
	float: left;
	margin-left: 15px;
}
.report-by-select .custom-select-box:first-child{
	margin-left: 0px;
}
.report-by-select select{
	width: 175px;
}

.tbl-report-general{
	margin-top: 15px;
	width: 100%;
}
.tbl-report-general thead{
	background: #2baef1;
}
.tbl-report-general thead td{
	padding-top:24px;
	padding-bottom:10px;
	padding-right: 5px;
	padding-left: 5px;
	color:#FFF;
}
.tbl-report-general td{
	border-left:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	text-align: center;
	font-family: Verdana;
	font-size: 13px;
}
.tbl-report-general td:nth-child(3){
	min-width: 110px;
}
.tbl-report-general td:nth-child(7){
	min-width: 150px;
}
.tbl-report-general tbody td{
	height: 48px;
	line-height: 48px;
}
.tbl-report-general tbody td:nth-child(5),
.tbl-report-general tbody td:nth-child(7){
	background:#f2f2f2;
}
.tbl-report-general tbody td:nth-child(11){
	padding-left: 10px;
}
tr.tr-rep-gen-sumary td{
	background: #47484a !important;
	color: #FFF;
}
.rep-save-by-excel{
	width: 100%;
	height: 90px;
	background: -webkit-linear-gradient(#e5e6e7, #fdfdfd);
	background: -moz-linear-gradient(#e5e6e7, #fdfdfd);
	background: -o-linear-gradient(#e5e6e7, #fdfdfd);
	text-align: center;
}
.rep-save-by-excel ul{
	width: 160px;
	margin:0px auto;
}
.rep-save-by-excel ul li{
	margin:0px;	
	line-height: 120px;
}
.rep-save-by-excel ul li:first-child{
	min-width: 30px !important;
}
.rep-save-by-excel ul li a{
	line-height: 82px;
	margin: 0px;
	font-size: 13px;
	padding: 10px;
}
ul.rep-des-bottom{
	width: 80%;
	margin-left: 35px;
	float: left;
}
ul.rep-des-bottom li {
	background: url('images/icon-li-report-stype.png') no-repeat top left;
	margin: 0;
	padding: 0px 0 0px 20px;
	list-style: none;
	margin-top: 20px;
	text-align: left;
}
ul.rep-des-bottom li:first-child{
	margin-top: 0px;
}
ul.rep-des-bottom li span{
	font-size: 16px;
}
.report-img{
	width: 12px;
	height: 12px;
	margin:3px;
	background: url('images/list-icon-mst.png');
}
.report-img-s{
	background-position: -16px 0px;
}
.report-img-t{
	background-position: -32px 0px;
}



/****** Bao Cao Tong Hop *****************/

.tbl-report-main{
		
}
.tbl-report-main tbody td:nth-child(2){
	background: #cdd2d7;
}
.tbl-report-main td:nth-child(3){
	width: 400px;
}
.tbl-report-main a{
	background: #e2e2e2;
	padding: 5px 10px;
	border-radius: 3px;
	border: 1px solid #cdcdcd;	
	width: 100%;
	float: none;
}
.rep-des-main-report p{
	font-size: 16px;
	width: 80%;
	height: 150px;
	margin: 0px auto;
	padding: 50px 0px 100px 0px;
	overflow: hidden;
}

/**
 * Hoa hong
 **/
.rp-rose-nav-parent{
	width:97%;
	height: auto;
	overflow: hidden;
	margin:0px auto;
	margin-top:70px;
	border:1px solid #e1e3e4;
}
.rp-rose-nav{
	min-height: 66px;
	border:3px solid #e1e3e4;
	padding: 10px 5px 10px 15px;
	background: #ebebeb;
}
.rp-rose-nav div{
	width:198px;
	height: 66px;
	float: left;
}
.rp-rose-nav div:nth-child(1){
	text-align: center;
	background: url('images/bg-hoso-hoahong.png') no-repeat;
}
.rp-rose-nav div:nth-child(1) span{
	margin-top: 20px;
	display: block;
	font-weight: bold;
	font-size: 14px;
}
.rp-rose-nav div:nth-child(2){
	margin-left: 15px;
	border-right: 1px solid #d3d3d3;
	line-height: 66px;
	background: url('images/icon-affiliate-contract.png') no-repeat;
	background-position: left 10px center;
	text-align: center;
}
.rp-rose-nav div:nth-child(2) span{
	font-size: 16px;
	margin-left: 40px;
}
.rp-rose-nav div:nth-child(3){
	width: 235px;
	text-align: center;
	line-height: 66px;
	border-right: 1px solid #d3d3d3;
	background: url('images/icon-personal-cmt.png') no-repeat;
	background-position: right 10px center;
}
.rp-rose-nav div:nth-child(3) span{
	font-size: 16px;
	float: left;
	margin-left: 10px;
}
.rp-rose-request-time{
	width: 335px !important;
	height: 66px;
	line-height: 66px;
	float: right !important;
}
.rp-rose-request-time span{
	color: #ff3500;
	font-size: 12px;
	font-weight: bold;
	float: left;
}
.rp-rose-request-time a{
	height: 50px;
	display: block;
	float: right !important;	
}
.rp-rose-money{
}
.rp-rose-money ul{
	width: 67%;
	height: 100px;
	margin: 1%;
	background: #e0e0e0;
	float: left;
}
.rp-rose-money ul li{
	
}
.rp-rose-request{
	width: 30%;
	height: 225px;
	float: right;
	border-left: 1px solid #dedede;
}
.tbl-rp-rose{
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}
.tbl-rp-rose td{
	min-height: 48px;
	line-height: 48px;
}
.tbl-rp-rose thead td{
	height: 48px;
	line-height: 48px;
	color:#FFF;
	background: #2baef1;
}
.tbl-rp-rose tbody td{
	background: #f2f2f2;
}
.tbl-rp-rose tbody td span{
	color: #ff2a00;
}
.tbl-rp-rose tbody td:nth-child(2){
	background: #fff;
}

.tbl-rp-rose tbody tr:last-child td{
	background: #47484a;
}
.tbl-rp-rose tbody tr:last-child td span{
	color: #FFF;
	font-weight: bold;
}
.tbl-rp-rose-month tbody td span{
	color: #000;
}

/**
 * Uu dai
 **/
 .rp-content-incentive{
 	text-align: center;
 }
 .rp-content-incentive h2{
 	line-height: 40px;
 }
 .rp-incentive-nav-date{
 	width: 100% !important;
 	border-radius: 0px;
 	border: 0px;
 }